.header {
  width: 100vw;
  height: 7.5rem;
  font-size: 2.2rem;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-powder);
  color: var(--color-warm);
  display: flex;
  justify-content: space-evenly;
}

.header-info {
  display: flex;
  align-items: center;
}

.header-info--avatar {
  font-size: 3.5rem;
  margin-right: 2rem;
}

.header-info--detail {
  transition: all 0.3s;
}
.header-info--detail:hover {
  transform: scale(1.01) rotateZ(-4deg) translateZ(0);
  color: var(--color-powder);
  background-color: var(--color-warm);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
