.image-card {
  flex: 0 0 23%;
  height: 30rem;
  margin-bottom: 3rem;
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.image-card:hover .button-cta {
  opacity: 1;
  visibility: visible;
}

.image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.button-cta {
  position: absolute;
  bottom: 2.5rem;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: 2.5rem;
  color: #eee;
  text-shadow: 0 0 1rem #000, 0 0 1.3rem rgb(88, 88, 88),
    0 0 1.7rem rgb(155, 155, 155);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.button-cta:hover {
  transform: translate(-50%, -55%);
  color: rgb(209, 209, 209);
}

.button-cta:active {
  outline: none;
  color: rgb(233, 232, 232);
  transform: translate(-50%, -48%);
}
