:root {
  --color-darkblue: 29, 44, 56;
  --color-lightblue: 210, 250, 247;
  --color-yellow: 242, 211, 87;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
}

::selection {
  background-color: rgb(var(--color-darkblue));
  color: rgb(var(--color-yellow));
}
